<div class="wrapper">

  <div class="reset">
      <input type=text [(ngModel)]="gameTime" id="time"><br>
      <button (click)="reset()"> Reset </button>
  </div>

  <button id="start-stop" (click)="startStop()"> Start / Stop </button>

  <div id="player-left" (click)="changeTurn(2)" class="player selected"
   [ngClass]="{'selected': turn === 1 && started, 'game-over': turn === 1 && end}">
    <div>
      <span>{{player1Time}}</span><br> 
    </div>

  </div>
  
  <div id="player-right" (click)="changeTurn(1)" class="player" 
  [ngClass]="{'selected': turn === 2 && started, 'game-over': turn === 2 && end}">
      <div>
        <span>{{player2Time}}</span><br>
      </div>
  </div>
</div>
