.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.player{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    div{
        width: 100%;
        
        span{
            font-size: 3em;
        }
    
        button{
            margin-top: 50px;
            width: 60%;
            height: 50px;
            background: blue;
            color: white;
        }
    }

}

.selected{
    background: rgba(0, 255, 0, 0.2);
}

.game-over{
    background: rgba(255, 0, 0, 0.2);
}

.start{
    background: rgba(0, 150, 0, 1);
}

.stop{
    background: rgba(150, 0, 0, 1);
}

#start-stop{
    position: absolute;
    width: 30%;
    height: 50px;
    color: white;
    border: none;
    bottom: 20px;
    left: calc(50% - 15%);
}

.reset{
    text-align: center; 
    position: absolute;
    top: 20px;
    width: 100%;

    button, input {
        width: 15%;
        text-align: center; 
    }

    button{
        margin-top: 20px;
        color: white; 
        background: red;
    }
}